<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Cerca per ruolo</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">Pete.com</a>
	</nav>

	<main role="main" class="container">

	<div class="starter-template" >
		
		<form th:action="@{/visualizzaRuoloEffettivo}">
			<h2>Inserisci il ruolo del giocatore:</h2>
			<label> Ruolo&nbsp</label>
			<input type=text name="ruolo">
			
			
			<input class="btn btn-primary" type="submit" value="Inserisci" />
		
	</div>
	


	</main>
	<!-- /.container -->

	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>