<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Inserisci</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>
<div class="starter-template">
<h2 th:if="${messaggio !=null}" th:text ="${messaggio}" th:value="${messaggio}"></h2>
</div>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">Pete.com</a>
	</nav>

	<main role="main" class="container">

	<div class="starter-template" >
		
		<form th:action="@{/addGiocatore}" method="POST">
			
			<label> Nome&nbsp</label>
			<input type=text name="nome" required>
			
			<label>Quotazione&nbsp</label>
			<input type="number" name="quotazione" min="1" max="50" step="0.1" required>
			
			<label>Ruolo&nbsp</label>
			<input type=text name="ruolo" required>
			
			<label>Squadra&nbsp</label>
			<input type=text name="squadra" required>
			
			
			<input class="btn btn-primary" type="submit" value="Inserisci" />
			
			</form>
			
			
	</div>
	<form th:action="@{/}" align="center">
		<input class="btn btn-primary" type="submit" value="Torna alla Home" />
</form>

	</main>
	<!-- /.container -->

	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>